#map {
  flex-grow: 1;
  z-index: 1;
  transform: scale(1.25);
  opacity: 0;
  animation: slideRight 0.7s ease-in-out 1 forwards;
}

@keyframes slideRight {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
